{% extends "_base.html" %}
{% block title %}
User Login
{% endblock %}

{% block content %}
<h1>User Login</h1>
<form action="/users/login/" method="post">
    <div class="min-w-full align-middle flex flex-column sm:flex-row flex-wrap space-y-4 sm:space-y-0 items-center justify-between pb-4">
        {% csrf_token %}
        {{form}}
        <button class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 mb-2 dark:bg-blue-600
        dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800">Submit</button>
    </div>
</form>
{% endblock %}