<!-- details item drawer component -->
<div class="">
    <input type="hidden" id="details_customer_id" name="details_customer_id" value="{{customer.id}}">

    <label for="customer_name" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">
        Name:
    </label>
    <input type="text" name="customer_name" value="{{customer.name}}"
        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500">

    <label for="customer_email" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">
        Email:
    </label>
    <input type="email" name="customer_email" value="{{customer.email}}"
        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500">

    <label name="customer_address" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">
        Address:
    </label>
    <input type="text" name="customer_address" value="{{customer.address}}"
        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500">

    <label name="customer_phone" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">
        Phone:
    </label>
    <input type="number" name="customer_phone" value="{{customer.phone}}"
        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500">


    <div class=" left-0 flex justify-center w-full pb-4 space-x-4 md:px-4 md:absolute">
        <button type="submit" name="details_customer" class="inline-flex w-full justify-center text-gray-500 items-center bg-white hover:bg-gray-100 focus:ring-4 focus:outline-none focus:ring-primary-300 
            rounded-lg border border-gray-200 text-sm font-medium px-5 py-2.5 hover:text-gray-900 focus:z-10 dark:bg-gray-700 dark:text-gray-300 dark:border-gray-500 dark:hover:text-white 
            dark:hover:bg-gray-600 dark:focus:ring-gray-600 p-5">
            Update customer details
        </button>
    </div>
</div>