<!-- details item drawer component -->

<input type="hidden" id="details_item_id" name="details_item_id" value="">
<div class="relative p-4 bg-white rounded-lg shadow dark:bg-gray-800 sm:p-5 w-full max-w-2xl h-full md:h-auto">
    <h1> here are the details </h1>
    {{order_to_be_detailed}}
    <table class="w-full text-sm text-left rtl:text-right text-indigo-200 dark:text-indigo-400">
        <thead class="text-s text-indigo-900 uppercase bg-gray-300">
            <th scope="col" class="px-6 py-3">
                Image
            </th>
            <th scope="col" class="px-6 py-3">
                Name
            </th>
            <th scope="col" class="px-6 py-3">
                Amount
            </th>
            <th scope="col" class="px-6 py-3">
                Price for one
            </th>
        </thead>

        {% for order in order_items %}
        <tr
            class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600 text-indigo-700">
            <td class="p-4">
                <img src="{{order.item.image.url}}" class="w-16 md:w-32 max-w-full max-h-full"
                    alt="{{ order.item.description }}">
            </td>
            <td class="px-6 py-4" id="name_for_pdf">
                {{ order.item }}
            </td>
            <td class="px-6 py-4" id="name_for_pdf">
                {{ order.amount }}
            </td>
            <td class="px-6 py-4" id="name_for_pdf">
                {{ order.item.price }}€
            </td>
        </tr>


        {% endfor %}
</div>