<!-- details item drawer component -->
<div>
    <input type="hidden" id="details_item_id" name="details_item_id" value="">

    <table class="text-sm text-left rtl:text-right text-indigo-200 dark:text-indigo-400">
        <thead class="text-s text-indigo-900 uppercase bg-gray-300">
            <th scope="col" class="px-6 py-3">
                Image
            </th>
            <th scope="col" class="px-6 py-3">
                Name
            </th>
            <th scope="col" class="px-6 py-3">
                Amount
            </th>
            <th scope="col" class="px-6 py-3">
                Price for one
            </th>
        </thead>
        {% for order in order_items %}
        <tr
            class="row bg-white border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600 text-indigo-700">
            <td class="p-4">
                <img src="{{order.item.image.url}}" class="w-16 md:w-32 max-w-full max-h-full"
                    alt="{{ order.item.description }}">
            </td>
            <td class="order_item px-6 py-4" value="{{order.item}}">
                {{ order.item }}
            </td>
            <td class="item_amount px-6 py-4" value="{{order.amount}}">
                {{ order.amount }}
            </td>
            <td class="price_for_item px-6 py-4" value="{{order.item.price}}">
                {{ order.item.price }}
            </td>
        </tr>
        {% endfor %}

    </table>
    <p id="total_price"></p>
</div>
