{% extends "_base.html" %}

{% block content %}
<h1 class="text-sky-950 text-6xl dark:text-sky-50 m-2">Datenschutzerklärung für die Subdomain erp.sinaihmels.dev</h1>
<h2 class="text-sky-950 text-4xl dark:text-sky-50 m-2">Diese Datenschutzerklärung gilt für die Nutzung der Subdomain erp.sinaihmels.dev.</h2>
<h3 class="text-sky-950 text-3xl dark:text-sky-50 m-2">1. Erhebung und Verwendung von Daten</h3>
<p class="text-sky-950 text-base dark:text-sky-50 m-2">Die Subdomain erp.sinaihmels.dev sammelt keine personenbezogenen Daten ihrer Besucher. Es werden keine Technologien wie Cookies oder Analysetools verwendet, um das Verhalten der Benutzer zu verfolgen oder persönliche Informationen zu sammeln.</p>
<h3 class="text-sky-950 text-3xl dark:text-sky-50 m-2">2. Funktionen des ERP-Systems</h3>
<p class="text-sky-950 text-base dark:text-sky-50 m-2">Das auf der Subdomain erp.sinaihmels.dev gehostete ERP-System simuliert lediglich Geschäftsprozesse und verwendet ausschließlich fiktive Daten in der Datenbank. Es werden keine personenbezogenen Daten gesammelt oder verarbeitet.</p>
<h3 class="text-sky-950 text-3xl dark:text-sky-50 m-2">3. Links zu anderen Subdomains</h3>
<p class="text-sky-950 text-base dark:text-sky-50 m-2">Wir bieten keine Links zu anderen Subdomains an, die auf spezifische Inhalte verweisen können.</p>
<h3 class="text-sky-950 text-3xl dark:text-sky-50 m-2">4. Kontakt</h3>
<p class="text-sky-950 text-base dark:text-sky-50 m-2">Wenn Sie Fragen zu dieser Datenschutzerklärung haben, können Sie uns unter sinaihmels@gmail.com kontaktieren.</p>

{% endblock content %}