<!-- Edit item drawer component -->

<input type="hidden" id="edit_item_id" name="edit_item_id" value="{{item_to_be_edited.id}}">
<div class="space-y-4">
    <div>
        <!-- Current Image -->
        {% if item_to_be_edited.image %}
        <img src="{{ item_to_be_edited.image.url }}" alt="Current Image" id="current-image">
        {% else %}
        <p>No image available</p>
        {% endif %}
    </div>
    <div>
        <label for="name" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Name</label>
        <input type="text" name="name" id="name"
            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500"
            value="{{item_to_be_edited.name}}" required="">
    </div>
    <div>
        <label for="description"
            class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Description</label>
        <textarea name="description" id="description" rows="4"
            class="block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-primary-500 
                focus:border-primary-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500">{{item_to_be_edited.description}}</textarea>
    </div>
    <div>
        <label for="class" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Product
            class</label>
        <select name="class" id="class"
            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-500 focus:border-primary-500 block w-full p-2.5 
                dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500">
            {% for class in classes %}
            <option value="{{class.id}}">{{class}}</option>
            {% endfor %}
        </select>
    </div>
    <div>
        <label for="color" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Color</label>
        <select name="color" id="color"
            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-500 focus:border-primary-500 block w-full p-2.5 
                dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500">
            {% for color in color_choices %}
            <option value="{{color}}">{{color}}</option>
            {% endfor %}
        </select>
    </div>

    <div>
        <label for="price" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Price</label>
        <input type="number" step="0.01" name="price" id="price"
            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 
                block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500"
            value="{{item_to_be_edited.price}}" required="">
    </div>
    <div>
        <label for="amount_instock" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Amount
            of product in stock</label>
        <input type="number" name="amount_instock" id="amount_instock"
            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 
                block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500"
            value="{{item_to_be_edited.amount_instock}}" required="">
    </div>
    <div>
        <label class="block mb-2 text-sm font-medium text-gray-900 dark:text-white" for="file_input">Upload
            product image</label>
        <input
            class="block w-full text-sm text-gray-900 border border-gray-300 rounded-lg cursor-pointer bg-gray-50 dark:text-gray-400 focus:outline-none dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400"
            id="image" name="image" type="file" accept="image" onchange="document.getElementById('current-image').src = window.URL.createObjectURL(this.files[0])"/>
    </div>


    <div class=" left-0 flex justify-center w-full pb-4 space-x-4 md:px-4 md:absolute">
        <button type="submit" name="edit_product" class="inline-flex w-full justify-center text-gray-500 items-center bg-white hover:bg-gray-100 focus:ring-4 focus:outline-none focus:ring-primary-300 
                rounded-lg border border-gray-200 text-sm font-medium px-5 py-2.5 hover:text-gray-900 focus:z-10 dark:bg-gray-700 dark:text-gray-300 dark:border-gray-500 dark:hover:text-white 
                dark:hover:bg-gray-600 dark:focus:ring-gray-600">
            Edit product
        </button>
        <button type="button" data-drawer-dismiss="edit_item" aria-controls="edit_item"
            class="inline-flex w-full justify-center text-gray-500 items-center 
                bg-white hover:bg-gray-100 focus:ring-4 focus:outline-none focus:ring-primary-300 rounded-lg border border-gray-200 text-sm font-medium px-5 py-2.5 hover:text-gray-900 focus:z-10 
                dark:bg-gray-700 dark:text-gray-300 dark:border-gray-500 dark:hover:text-white dark:hover:bg-gray-600 dark:focus:ring-gray-600">
            <svg aria-hidden="true" class="w-5 h-5 -ml-1 sm:mr-1" fill="none" stroke="currentColor" viewBox="0 0 24 24"
                xmlns="http://www.w3.org/2000/svg">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12">
                </path>
            </svg>
            Cancel
        </button>
    </div>
</div>
