
{% extends "_base.html" %}

{% block content %}

<div>
    <h3 class="text-sky-950 text-2xl dark:text-sky-50">Impressum</h3>
    <h4 class="text-sky-950 text-xl dark:text-sky-50">Angaben gemäß § 5 TMG:</h4>
    <p class="mt-2 text-sky-950 text-base dark:text-sky-50">Sina Ihmels<br>
        Am Nickelsberg 4<br>
        52538 Gangelt<br>
        
        Kontakt:<br>
        
        <a href="mailto:sinaihmels@gmail.com">sinaihmels@gmail.com</a>
        
        <br>

        
        <h5 class="mt-2 text-sky-950 text-lg dark:text-sky-50">Verantwortlich für den Inhalt nach § 55 Abs. 2 RStV:</h5>
        
        <p class="mt-2 text-sky-950 text-base dark:text-sky-50">Sina Ihmels<br>
        Am Nickelsberg 4<br>
        52538 Gangelt </p>
</div>

{% endblock content %}