
{% extends "_base.html" %}

{% block content %}
<h1 class="text-sky-950 text-6xl dark:text-sky-50 m-2">Nutzungsbedingungen für die Subdomain erp.sinaihmels.dev</h1>
<h2 class="text-sky-950 text-4xl dark:text-sky-50 m-2">Diese Nutzungsbedingungen regeln die Nutzung der Subdomain erp.sinaihmels.dev. Bitte lesen Sie diese Nutzungsbedingungen sorgfältig durch, bevor Sie auf die Subdomain zugreifen oder sie nutzen.</h2>
<h3 class="text-sky-950 text-3xl dark:text-sky-50 m-2">1. Nutzungsbedingungen</h3>
<p class="text-sky-950 text-base dark:text-sky-50 m-2">Durch den Zugriff auf die Subdomain erp.sinaihmels.dev erklären Sie sich damit einverstanden, diese Nutzungsbedingungen vollständig zu akzeptieren. Wenn Sie mit diesen Nutzungsbedingungen nicht einverstanden sind, dürfen Sie die Subdomain nicht nutzen.</p>
<h3 class="text-sky-950 text-3xl dark:text-sky-50 m-2">2. Geistiges Eigentum</h3>
<p class="text-sky-950 text-base dark:text-sky-50 m-2">Alle Inhalte, die auf der Subdomain erp.sinaihmels.dev verfügbar sind, einschließlich Texte, Bilder, Grafiken, Logos, Audio- und Videoclips, sind urheberrechtlich geschützt und gehören Sina Ihmels oder den jeweiligen Rechteinhabern. Die Vervielfältigung, Modifikation, Verbreitung oder Veröffentlichung dieser Inhalte ohne ausdrückliche Genehmigung ist untersagt.</p>
<h3 class="text-sky-950 text-3xl dark:text-sky-50 m-2">3. Haftungsbeschränkung</h3>
<p class="text-sky-950 text-base dark:text-sky-50 m-2">Wir bemühen uns, sicherzustellen, dass die Informationen auf der Subdomain erp.sinaihmels.dev korrekt und aktuell sind. Wir übernehmen jedoch keine Haftung für die Richtigkeit, Vollständigkeit oder Aktualität dieser Informationen. Die Nutzung der Subdomain erfolgt auf eigene Gefahr.</p>
<h3 class="text-sky-950 text-3xl dark:text-sky-50 m-2">4. Änderungen der Nutzungsbedingungen</h3>
<p class="text-sky-950 text-base dark:text-sky-50 m-2">Wir behalten uns das Recht vor, diese Nutzungsbedingungen jederzeit und ohne vorherige Ankündigung zu ändern. Bitte überprüfen Sie regelmäßig diese Nutzungsbedingungen, um sich über Änderungen zu informieren. Ihre fortgesetzte Nutzung der Subdomain nach der Veröffentlichung von Änderungen gilt als Ihre Zustimmung zu den geänderten Nutzungsbedingungen.</p>
<h3 class="text-sky-950 text-3xl dark:text-sky-50 m-2">5. Kontakt</h3>
<p class="text-sky-950 text-base dark:text-sky-50 m-2">Wenn Sie Fragen zu diesen Nutzungsbedingungen haben, können Sie uns unter sinaihmels@gmail.com kontaktieren.</p>

{% endblock content %}